- headline.source_headline_fragments.ordered.each do |fragment|
  %span.headline-fragment{data: {toggle: :tooltip, html: 'true', title: render(partial: 'headlines/tooltips/inner', locals: {fragment: fragment})}}
    = fragment.fragment