= link_to vote_headline_url(headline), remote: true, method: :post, class: "btn #{did_upvote?(headline) ? "btn-success" : 'btn-default'} upvote-button", data: {disable_with: loading_icon} do
  %i.fa.fa-thumbs-up
  - unless can_downvote?(headline) || did_downvote?(headline)
    - if did_upvote?(headline)
      Voted
    - else
      Vote