- @title = "Top-Voted Headlines"

%table.table.table-striped
  - Headline.top.each do |headline|
    %tr
      %td
        %span.lead.vote-count= headline.votes
      %td
        - if can_vote?(headline)
          = link_to vote_headline_url(headline), remote: true, class: "btn btn-success upvote-button" do
            %i.fa.fa-thumbs-up
            Upvote
        - else
          %button.btn.disabled{type: :button}
            %i.fa.fa-thumbs-up
            Voted
      %td= headline.name

= link_to "Generate Random Headlines", headlines_url, class: "btn btn-primary btn-large"