- @title = "Top-Voted Headlines"

%table.table.table-striped
  - Headline.top.each do |headline|
    %tr
      %td
        %strong= headline.votes
      %td
        - if can_vote?(headline)
          = link_to "+ upvote", vote_headline_url(headline), remote: true, class: "upvote-existing"
        - else
          .text-muted voted!
      %td= headline.name

= link_to "Generate Random Headlines", headlines_url, class: "btn btn-success btn-large"