- @title = "Headline Fight Game"
- @short_title = :game

%h3.text-center Headline Fight
.text-center.lead Choose the funnier headline. May the best computer-generated joke win.

#game= render partial: "game"