- @title = "Random Headlines"

%table.table.table-striped
  - Headline.random.each do |headline_string|
    %tr
      %td
        = link_to save_headlines_path(headline: headline_string), remote: true, class: "btn btn-success upvote-button" do
          %i.fa.fa-thumbs-up
          Upvote
      %td= headline_string
