- @title = "Random Headlines"
%h3 Random Headlines

%ul
  - Headline.random.each do |headline_string|
    %li
      = headline_string
      = link_to "+ upvote", save_headlines_path(headline: headline_string), remote: true, class: "upvote-new"