// Place all the styles related to the headlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header
  overflow: hidden
  padding: 20px 0
  .description
    width: 330px
    margin-top: 20px
    p:last-child
      margin-bottom: 0

.generate-form
  margin-top: 30px
  margin-bottom: 30px

  label
    font-weight: normal
    padding-right: 15px

#invent-button
  width: 100%

.source-box
  padding: 10px

img.source-icon
  width: 16px
  height: 16px

table.headlines-table
  td
    vertical-align: middle !important
    &.headline
      font-size: 16px

.source-checkbox-block
  display: inline-block