@import twitter/bootstrap/variables
@import helpers

$accent: #962020

header
  background-color: #F9F9F9
  border-bottom: 1px solid #DDDDDD

#header-content
  overflow: hidden
  padding: 20px 0
  .description
    width: 330px
    margin-top: 20px
    p:last-child
      margin-bottom: 0

  .site-title i
    color: $accent

header
  h1
    +phone
      font-size: 24px
      text-align: center
      margin-top: 0
    a
      color: #333333
      &:hover
        text-decoration: none
        color: $accent
  .lead
    +phone
      text-align: center
      margin-top: 0
      margin-bottom: 10px

.vote-count.visible-xs
  margin: 0
  margin-bottom: 8px
  // font-weight: bold
  text-align: center
  font-size: 26px

footer
  +phone
    .col-md-6
      text-align: center !important

.generate-form
  margin-top: 30px
  margin-bottom: 30px

  label
    font-weight: normal
    padding-right: 15px

#login-box
  margin-top: 20px
  margin-bottom: 10px
  a
    text-decoration: none
    &:hover
      background: white
      border-radius: 6px

.modal-sign-up,
  width: 250px
  float: left
.modal-sign-in
  width: 250px
  float: right

#invent-button
  width: 100%

.source-box
  padding: 10px

img.source-icon
  width: 16px
  height: 16px

.searchbar
  width: 200px
  float: right

table.headlines-table
  td
    vertical-align: middle !important
    &.headline
      font-size: 16px
      a
        color: #333333
    &.votebox
      width: 80px
      .btn-group
        width: 80px
        .btn-default:nth-child(2)
          border-left: none
        .btn-default.upvote-button
          color: darken(desaturate($brand-success, 10%), 20%)
        .btn-default.downvote-button
          color: darken(desaturate($brand-danger, 10%), 20%)
    &.count
      width: 60px
      text-align: center
      font-weight: bold
    &.sources
      max-width: 100px

.source-checkbox-block
  display: inline-block
  background: #eee
  margin-bottom: 4px
  padding: 0 4px
  border-radius: 3px

.best-toolbar
  margin-bottom: 20px

.sort-tools
  overflow: hidden
  margin-bottom: 10px
  .hint
    margin-top: 6px

.single-headline .votebox
  margin-top: 10px

.source-picker
  margin-bottom: 20px

.btn-autohide
  span
    display: none
  &:hover span, &.active span
    display: inline

.link-muted
  color: $text-muted
  &:hover
    color: $gray
  &:active
    color: $gray-dark