- @title = "User | #{@user.login} | Voted Headlines"

%h2= link_to @user.login, @user
.lead.text-muted Voted Headlines

%table.table.table-striped.headlines-table
  = render @headlines

- if @headlines.length < 1
  .well
    No headlines found.

= will_paginate @headlines, renderer: BootstrapPagination::Rails